In [1]:
import pandas as pd
from nltk import word_tokenize
from nltk.stem import WordNetLemmatizer
import re
import contractions

In [2]:
df = pd.read_csv('YoutubeCommentsDataSet.csv')

In [3]:
df.head()

                                             Comment Sentiment
0  lets not forget that apple pay in 2014 require...   neutral
1  here in nz 50 of retailers don’t even have con...  negative
2  i will forever acknowledge this channel with t...  positive
3  whenever i go to a place that doesn’t take app...  negative
4  apple pay is so convenient secure and easy to ...  positive

In [4]:
df.Sentiment.value_counts()

Sentiment
positive    11432
neutral      4638
negative     2338
Name: count, dtype: int64

In [5]:
df.describe()

                                                  Comment Sentiment
count                                               18364     18408
unique                                              17871         3
top     one of the best thing about dude is that he ne...  positive
freq                                                   10     11432

In [6]:
df.isna().sum()

Comment      44
Sentiment     0
dtype: int64

In [7]:
df2 = df.loc[~df.Comment.isna()]

In [8]:
df2.isna().sum()

Comment      0
Sentiment    0
dtype: int64

In [21]:
lemmatizer = WordNetLemmatizer()

In [24]:
df2.Comment[0]

'lets not forget that apple pay in 2014 required a brand new iphone in order to use it a significant portion of apples user base wasnt able to use it even if they wanted to as each successive iphone incorporated the technology and older iphones were replaced the number of people who could use the technology increased'

In [41]:
def text_cleaning(text):
    doc = nlp(text)
    cleaned_text = ' '.join([token.lemma_ for token in doc])
    cleaned_text = re.sub(r'([^\s\w]|_)+', ' ', cleaned_text)

    return re.sub(r'\s+', ' ', clean_text).strip()

In [42]:
df2['cleaned_comment'] = df2['Comment']\
    .apply(text_cleaning)

/tmp/ipykernel_10360/3307749969.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['cleaned_comment'] = df2['Comment']\

In [43]:
df2

,Comment,Sentiment,cleaned_comment
0,lets not forget that apple pay in 2014 require...,neutral,the car be run fast the child play outside pri...
1,here in nz 50 of retailers don’t even have con...,negative,the car be run fast the child play outside pri...
2,i will forever acknowledge this channel with t...,positive,the car be run fast the child play outside pri...
3,whenever i go to a place that doesn’t take app...,negative,the car be run fast the child play outside pri...
4,apple pay is so convenient secure and easy to ...,positive,the car be run fast the child play outside pri...
...,...,...,...
18403,i really like the point about engineering tool...,positive,the car be run fast the child play outside pri...
18404,i’ve just started exploring this field and thi...,positive,the car be run fast the child play outside pri...
18405,excelente video con una pregunta filosófica pr...,neutral,the car be run fast the child play outside pri...
18406,hey daniel just discovered your channel a coup...,positive,the car be run fast the child play outside pri...
18407,this is great focus is key a playful approach ...,positive,the car be run fast the child play outside pri...

In [83]:
lemmatizer.lemmatize('better', 'a')

'good'

In [10]:
import spacy

In [13]:
nlp = spacy.load("en_core_web_sm")

In [34]:
doc = nlp("The cars are running fast! The children played outside. Price: $10.99")

In [39]:
clean_text = re.sub(r'([^\s\w]|_)+', ' ', ' '.join([token.lemma_ for token in doc]))
clean_text

'the car be run fast the child play outside price 10 99'

In [36]:
' '.join([token.lemma_ for token in doc])

'the car be run fast ! the child play outside . price : $ 10.99'